# Written by Synplify Pro version mapgw2020q1p1, Build 004R. Synopsys Run ID: sid1597651807 
# Top Level Design Parameters 

# Clocks 
create_clock -period 7.931 -waveform {0.000 3.965} -name {_~hpram_top_HyperRAM_Memory_Interface_Top_|clk_out_inferred_clock} [get_pins {u_hpram_top/clkdiv/CLKOUT}] 
create_clock -period 6.345 -waveform {0.000 3.172} -name {HyperRAM_Memory_Interface_Top|clk} [get_ports {clk}] 
create_clock -period 10.000 -waveform {0.000 5.000} -name {_~hpram_top_HyperRAM_Memory_Interface_Top_|clk_x2p_inferred_clock} [get_pins {u_hpram_top/u_dqce_clk_x2p/CLKOUT}] 

# Virtual Clocks 

# Generated Clocks 
create_generated_clock -name {_~hpram_wd_HyperRAM_Memory_Interface_Top_|step_derived_clock[0]} -add -divide_by 1 -master_clock [get_clocks {_~hpram_top_HyperRAM_Memory_Interface_Top_|clk_out_inferred_clock}] -source [get_pins {u_hpram_top/u_hpram_wd/step_Z[0]/CLK}] [get_pins {u_hpram_top/u_hpram_wd/step_Z[0]/Q}] 
create_generated_clock -name {_~hpram_init_HyperRAM_Memory_Interface_Top_|read_calibration[0]_VALUE_derived_clock[0]} -add -divide_by 1 -master_clock [get_clocks {_~hpram_top_HyperRAM_Memory_Interface_Top_|clk_out_inferred_clock}] -source [get_pins {u_hpram_top/u_hpram_init/read_calibration[0].VALUE[0]/CLK}] [get_pins {u_hpram_top/u_hpram_init/read_calibration[0].VALUE[0]/Q}] 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 
set Autoconstr_clkgroup_0 [list _~hpram_top_HyperRAM_Memory_Interface_Top_|clk_out_inferred_clock \
                                  _~hpram_wd_HyperRAM_Memory_Interface_Top_|step_derived_clock[0] _~hpram_init_HyperRAM_Memory_Interface_Top_|read_calibration[0]_VALUE_derived_clock[0]]
set Autoconstr_clkgroup_1 [list HyperRAM_Memory_Interface_Top|clk]
set Autoconstr_clkgroup_2 [list _~hpram_top_HyperRAM_Memory_Interface_Top_|clk_x2p_inferred_clock]
set_clock_groups -asynchronous -group $Autoconstr_clkgroup_0 -group $Autoconstr_clkgroup_1 -group $Autoconstr_clkgroup_2

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 


# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

