
IO_LOC "O_tmds_clk_p" 28,27;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[0]" 30,29;
IO_PORT "O_tmds_data_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[1]" 32,31;
IO_PORT "O_tmds_data_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[2]" 35,34;
IO_PORT "O_tmds_data_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "XCLK" 33;
IO_PORT "XCLK" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_led[0]" 10;
IO_PORT "O_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "SCL" 44;
IO_PORT "SCL" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "SDA" 46;
IO_PORT "SDA" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "PIXCLK" 41;
IO_PORT "PIXCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PIXDATA[9]" 40;
IO_PORT "PIXDATA[9]" PULL_MODE=UP;
IO_LOC "PIXDATA[8]" 39;
IO_PORT "PIXDATA[8]" PULL_MODE=UP;
IO_LOC "PIXDATA[7]" 23;
IO_PORT "PIXDATA[7]" PULL_MODE=UP;
IO_LOC "PIXDATA[6]" 16;
IO_PORT "PIXDATA[6]" PULL_MODE=UP;
IO_LOC "PIXDATA[5]" 18;
IO_PORT "PIXDATA[5]" PULL_MODE=UP;
IO_LOC "PIXDATA[4]" 20;
IO_PORT "PIXDATA[4]" PULL_MODE=UP;
IO_LOC "HREF" 42;
IO_PORT "HREF" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "VSYNC" 43;
IO_PORT "VSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "I_rst_n" 14;
IO_PORT "I_rst_n" PULL_MODE=UP;
IO_LOC "key" 15;
IO_PORT "key" PULL_MODE=UP;
IO_LOC "I_clk" 45;
IO_PORT "I_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PIXDATA[3]" 19;
IO_PORT "PIXDATA[3]" PULL_MODE=UP;
IO_LOC "PIXDATA[2]" 17;
IO_PORT "PIXDATA[2]" PULL_MODE=UP;
IO_LOC "PIXDATA[1]" 21;
IO_PORT "PIXDATA[1]" PULL_MODE=UP;
IO_LOC "PIXDATA[0]" 22;
IO_PORT "PIXDATA[0]" PULL_MODE=UP;
